<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <!------------------------ CSS start ---------------------->
    <style>
        .center-text {
            text-align: center;
        }
    </style>
    <!------------------------ CSS complete ---------------------->
</head>
<!------------------------ body start ---------------------->
<body>
    <h1 class="center-text">Terjadi kesalahan <hr>
        <img src="../static/error.jpg" alt="sedang memuat foto">
    <br>Silahkan Coba Kembali</h1>
    <p class="center-text">{{ error }}</p>
</body>
    <!------------------------ body complete ---------------------->
</html>
